# ProGuard configuration: preverification only (no optimization/obfuscation/shrinking)

-microedition
-dontoptimize
-dontobfuscate
-dontshrink
-dontwarn

-keep public class com.trykote.mobileagent.core.Midlet
